<template>
  <div>
    <div class="header">TODO LIST</div>
    <div class="text-box">
      <input v-model="inputValue" v-on:keyup.enter="addValue" :disabled="loading" type="text">
      <button class="add-button" v-on:click="addValue" :disabled="loading">ADD</button>
    </div>
    <div class="body">
      <div class="todos" v-for="todo in toDoList" :key="todo.id">{{ todo.text }}</div>
    </div>
  </div>
</template>

<script>
const axios = require('axios');

export default {
  name: "ToDo",
  data() {
    return {
      apiUrl: process.env.VUE_APP_API_URL,
      loading: false,
      inputValue: "",
      toDoList: []
    }
  },
  methods: {
    addValue: function () {
      this.loading = true;
      axios.post(this.apiUrl + "/todos", {
        text: this.inputValue
      })
      .then(function (response) {
        this.toDoList.push(response.data);
        this.inputValue = "";
        this.loading = false;
      }.bind(this))
      .catch(function (error) {
        console.log(error);
        this.loading = false;
      }.bind(this));
    },
  },
  mounted() {
    this.loading = true;
    axios.get(this.apiUrl + "/todos")
        .then(function (response) {
          this.toDoList = response.data;
          this.loading = false;
        }.bind(this))
        .catch(function (error) {
          console.log(error);
          this.loading = false;
        });
  }
}

</script>

<style scoped>
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  font-size: 30px;
}

.text-box {
  display: flex;
  justify-content: center;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
</style>